# Dependencies
node_modules

# Build output
dist
dist-ssr

# Tauri (Rust)
src-tauri/target
src-tauri/gen

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.local
